.TodoEditor{ 
  display: flex;
  gap: 10px;
}

.TodoEditor input{ 
  flex: 1;
  padding:15px;
  border:1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.TodoEditor button{ 
  width: 80px;
  border: none;
  background-color: cadetblue;
  cursor: pointer
}