body{
  padding: 20px;
}

.App{
  margin: 0px auto;
  width: 400px;
}

.App > section {
  background-color:lightgoldenrodyellow;
  border: 1px solid gray;
  border-radius: 5px;
  padding:20px;
  margin-bottom:10px;
}